body, html{
                        width: 100%;
                        height: 100%;
                        margin: 0;
			background-image: url('./Images/tile.jpg');
			 background-repeat: repeat;
			background-size: 300px 300px; 
                }

		#container {
		    position:relative;
		
		    height:100%;
		}

		#map {
		    height: 100%;
		    position:absolute;
		    top:0;
		    left:0;
		    right:0;
		    bottom:0;
		    z-index: 0;
			background-image: './Images/tile.jpg';
                         background-repeat: repeat;
		}

		#overlay {
    			width: 11%;
    			height: 22%;
    			position:absolute;
    			top:5%;
    			left:5%;
    			margin-left:-10px;
    			margin-top:-10px;
    			outline:1px solid black;
    			pointer-events:none;
		}

		#arrows {
			left: 82.5%;
                        width: 25%;
			height: 25%;
			float:right;
                        position: absolute;
                        z-index: 600;
			text-align: right;
                }


		

                ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        z-index: 500;
                }

                li {
                         float: right;
                        z-index: 500;
                }

		li h1 {

			margin-top: 5%;
                        margin-right: 1px;
			padding-right: 1px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        padding-left: 1px;
                        background-color: white;
                        border: black 2px solid;
                        font-family: 'Heebo', sans-serif;
                        font-weight: bold;
                        font-size: 16px;
                        width: 100%;
                        color: black;
                        z-index: 500;
			float: right;

		}

		#a {


			margin-top: 5%;
                        padding-right: 1px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        padding-left: 1px;
                        background-color: #fff700;
                        border: black 2px solid;
                        font-family: 'Heebo', sans-serif;
                        font-weight: bold;
                        font-size: 16px;
                        width: auto;
                        color: black;
                        z-index: 500;
                        float: right;
			text-decoration: none;

		}


		#a :: visited {

			color: black;
			text-decoration:none;
		}

		#banner {

                        /*width: 100%;*/
                        position: relative;
                        z-index: 500;
			/* height: 10%;*/
			text-align: right;
                }

		button {

			margin-top: 15px;
                        margin-right: 1px;
                        padding-right: 1px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        padding-left: 1px;
                        background-color: white;
                        border: black 2px solid;
                        font-family: 'Heebo', sans-serif;
                        font-weight: bold;
                        font-size: 16px;
			cursor: pointer;
                        width: auto;
			height: auto;
                        color: black;
                        z-index: 500;

		}


		

		
		.leaflet-map-pane > * {
  			-webkit-transition: transform 1s linear;
  			-moz-transition: transform 1s linear;
  			-o-transition: transform 1s linear;
  			-ms-transition: transform 1s linear;
  			transition: transform 1s linear;
		}

		/* Count Pop-up */
                .countPopUp {
                    /*display: none;*/
                    z-index: 1500;
                    width: 25%;
                    height: 25%;
                    position: fixed;
                    left:37.5%;
                    top: 37.5%;
                    border: 1px black solid;
                    background-color: #fefefe;

                }

		.finishedPopUp {
			z-index: 1500;
                    width: 25%;
                    height: auto;
		    min-height: 15%;
                    position: fixed;
                    left:37.5%;
                    top: 37.5%;
                    border: 1px black solid;
                    background-color: white;
			text-align: center;
		}

		.walkthroughPopUp {
                    z-index: 1500;
                    position: fixed;
                    height: auto;
                    min-height: 10%;
                    width: 40%; 
                    left:30%;
                    top: 78%;
                    text-align:center;  
                    border: 1px black solid;
                    background-color: #fefefe;
                }

                /* The Modal (background) */


                .modal {
                        font-family: Arial;
                    font-size: 16px;
                    text-align: center;
                    padding: 1px;
                }



		.hungerPopUp{

		    z-index: 1500;
                    position: absolute;
                    height: 4%;
                    width: 8%;
                    left:46%;
                    top: 85%;
                    text-align:center;
                    border: 1px black solid;
                    background-color: #fefefe;


                }

                .popUp-count{
                    position: absolute;
                    top: 2%;
                    left: 1%;
                    font-family: Arial;
                    font-size: 16px;
                    text-align: center;
                    padding: 3px;               

                }

		.popUp-energy{
                    font-family: Arial;
                    font-size: 16px;
                    text-align: center;
                    padding: 1px;

                }

		#energy2 {
 			 width: 10%;
  			background-color: #ddd;
			border: 1px black solid;
		}

		#energyBar {
		  width: 75%;
			max-width: 100%;
		  height: 30px;

		}

		#arrow-span{
		font-size: 40px;
		color: #454545;
		}

		#leaf-img {
		
		height: 5%;
		width:	5%;


		}

		/* Button styles */
		.button {
			position: relative;
			border: none;
			width: 9%;
			height: 180px;
			display: inline;
			cursor: pointer;
			overflow-wrap: break-word;
			z-index: 500;
			background: none;
		}


		.buttone {
			width: 25%;
			height: 135px;

		}

		.buttonl {
			width: 17%;
			height: 117px;
		}

		.buttonh {
			width: 15%;
			height: 110px;
		}
		
		.buttonr {
                        width: 18%;
                        height: 115px;
                }

		img {
			height: 100%;
			width: 100%;

		}



		@viewport {
                        width: device-width ;
                        zoom: 1.0 ;
                }

		@media screen and (max-width: 1500px) and (min-width: 1100px) {

		  #overlay {
                        width: 13%;
                        height: 22%;
			
		 }

		button {
			font-size:13px;

		}


		#arrow-span{
                font-size: 30px;
                color: #454545;
                }
		li h1 {
			font-size:13px;

		}

		.finishedPopUp {
			width:30%;
			left: 35%;

		}

		.popUp-count{

			font-size: 13px;
		}

		.walkthroughPopUp {
                    width: 50%;
                    left:25%;
		    height: auto;

                }




		p {

			font-size: 13px;

		}

		}


		@media screen and (max-width: 1099px) and (min-width: 500px) {

                  #overlay {
                        width: 13%;
                        height: 17%;

                 }

                button {
                        font-size:13px;

                }


                #arrow-span{
                font-size: 30px;
                color: #454545;
                }


		li h1 {
                        font-size:13px;

                }



		.popUp-count{

                        font-size: 11px;
                }


		p {

                        font-size: 11px;

                }


		}
